body {
  background-color: lightgrey;
}

.quiz {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 10%;
}

.question {
  margin-top: 1%;
}

.quiz-name {
  background-color: pink;
  text-align: center;
  font-size: 36px;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* .question-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 10%
} */

.radio-button-answer {
  background-color: lightblue;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.question-text {
  background-color: lightgoldenrodyellow;
  text-align: center;
  font-size: 36px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.submit-button {
  width: 50%;
  background-color: orange;
  font-size: 18px;
  margin-left: 25%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 15px;
}

.title {
  font-size: 36px;
  text-align: center;
  margin: 1%;
}

.createQuestion {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 1%;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.country-flag {
  width: 25%;
}